
.image {
    bottom: 10;
}
body h3{
  text-align: center;
  border: 5px solid silver;
}

    


body{
    max-width: 840ox;
    font-size: 25px;
    bottom: auto;
    color: silver;
    background-image: url("bg.jpg");
    
}

#flipCoin{
    position: relative;
    color: darkblue;
    display: flex;
    font-size: 25px;
    box-shadow: 10px;
    border-radius: 10%;
    bottom: -15px;
    background-color: violet;
    
    

}
.newString{
    font-size: 100pt;
}