
.image {
    position: relative;
    bottom:-145px;
    width: 140px;

}
body h3{
  text-align: center;
  border: 5px solid silver;
}

    


body{
    position: relative;
    max-width: 840ox;
    font-size: 22px;
    bottom: -10px;
    color: silver;
    background-image: url("bg.jpg");
    
}

#flipCoin{
    position: relative;
    color: darkblue;
    display: flex;
    font-size: 25px;
    box-shadow: 10px;
    border-radius: 10%;
    bottom: -145px;
    background-color: violet;
    
    

}
.newString{
    position: relative;
    font-size: 150pt;
    top: 10px;

}